<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programmer's Heaven</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
      <nav class="amber darken-4">
        <div class="nav-wrapper">
      <a href="/" class="brand-logo hide-on-sm-and-down">Programmer's Heaven</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/create-post">New Post</a></li>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a class="no-button" id="logout">Logout</a></li>
        {{else}}
       <li><a href="/login">Login</a></li>
        {{/if}}
        </ul>
        </div>
      </nav>
    </header>
    <body>
    <div class="flex-column justify-space-around">
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
