
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each posts as |post|}}
    {{#if post.user_id}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/post/{{post.id}}">{{post.post_title}}</a></h4>
        </div>
        <div class="col-md-4">
          <p>{{post.post}}</p>
        <div class="col-md-4">
          <button
            class="btn btn-sm btn-danger"
            data-id="{{post.id}}"
          >DELETE</button>
        </div>
      </div>
      {{/if}}
    {{/each}}

  </div>
