.post-labels {
  font-size: 18px;
}

.form-group {
  margin-top: 30px !important;
}

@media only screen and (max-width: 992px) {
nav .brand-logo {
  left: 0% !important;
  transform: translateX(0%) !important;
}
}